.Ravenclaw {
  border: rgb(40, 40, 99) ridge 5px;
  background-image: linear-gradient(
    to bottom right,
    rgb(34, 31, 71),
    rgb(46, 61, 199)
  );
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}

.Gryffindor {
  border: rgb(119, 28, 28) ridge 5px;
  background-image: linear-gradient(
    to bottom right,
    rgb(109, 27, 27),
    rgb(150, 53, 15)
  );
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}

.Slytherin {
  border: rgb(21, 78, 21) ridge 5px;
  background-image: linear-gradient(
    to bottom right,
    rgb(29, 48, 24),
    rgb(57, 141, 23)
  );
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}

.Hufflepuff {
  border: rgb(185, 185, 36) ridge 5px;
  background-image: linear-gradient(
    to bottom right,
    rgb(172, 130, 17),
    rgb(202, 199, 29)
  );
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}

.card {
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}

h2 {
  font-size: 20px;
}

.Gryffindor img,
.Slytherin img,
.Hufflepuff img,
.Ravenclaw img {
  width: 50%;
  height: 60%;
  border-radius: 5px;
  border: 2px solid black;
}

h2,
p {
  margin: 0;
}
